/* src/app/globals.css */
@import "tailwindcss";

@theme {
  --font-heading: var(--font-bebas), sans-serif;
  --font-sans: var(--font-inter), sans-serif;

  --color-brand-dark: #111214; /* Charcoal */
  --color-brand-ivory: #f4f1ea; /* Ivory */
  --color-brand-primary: #f05a28; /* Orange */
  --color-brand-danger: #9b3030; /* Akatsuki Red */
  --color-brand-sage: #596b58; /* Sage Green */
  --color-brand-navy: #182b49; /* Navy */
}
